/* Navigation bar */
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-theme-color);
    top: 0%;
    left: 0%;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    box-shadow: 0px 4px 5px var(--navbar-shadow-color);
}

/* Menu */
.menu {
    display: flex;  /* horizontal align of internal items */
    list-style: none; /* removes the bullets */
    margin: 0% var(--margin); /* reset margin */
    padding: 0%; /* reset padding */
    text-align: center;
    align-items: center;
    margin-left: auto;  /* align the menu to the right */
}

.menu li {
    padding: 0% 15px;
}

.menu li a {
    color: var(--text-color-inverse);
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--navbar-hover-color);
}

.open-menu, 
.close-menu {
    display: none;
}



