/**********************************************************************************/
/*                                  MOBILE STYLES                                 */
/**********************************************************************************/

/* Responsive initial screen*/
@media screen and (max-width: 632px) {
    
    /* Open / Close button */
    .h1div {
        display: inline-block;
        vertical-align: middle;
        margin-left: var(--margin);
    }

    .h1div h1 {
        font-size: 26px;
    }

    .openclosediv {
        display: inline-block;
        position: absolute;
        right: var(--margin);
    }

    .openclosebuttondiv {
        cursor: pointer;
        vertical-align: middle;
        margin: 7.5px var(--margin);
        border: 2px;
        border-style: solid;
        border-radius: 5px;
        padding: 1px 4.5px;
        width: 35px;
    }
      
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: #333333;
        margin: 6px auto;
        transition: 0.4s;
    }
    
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* Navigation bar */
    .topnavbar {
        display: none;
        height: 2px;
        z-index: 10;
    }

    /* Menu */
    .menu {
        visibility: hidden;
        flex-direction: column;
        text-align: center;
        height: calc(6 * 40px); /* 40px height plus each item (six) */
        z-index: 10;
        width: 175px;
        background-color: var(--navbar-theme-color);
        margin-right: 0;
    }
    
    .menu li {
        width: 100%;
    }
    
    .menu li a {
        font-size: 14px;
        line-height: 40px;
        text-align: left;
    }

    main {
        margin-top: 52px;
        padding-top: 3px;
    }
}


/* Responsive tabnav*/
@media screen and (max-width: 632px) {
    
    .topnavbar.responsive {
        display: flex;
        height: calc(6 * 40px);
        background-color: transparent;
        box-shadow: 0px 0px 0px var(--navbar-shadow-color);
    }

    .topnavbar.responsive .menu {
        visibility: visible;
        z-index: 10;
    }

    .topnavbar, section[id] {
        scroll-margin-top: 55px; /* avoid 'Header' hide the 'Section' */
    }

    .menu {
        box-shadow: 0px 4px 5px var(--navbar-shadow-color);
    }
}