/**********************************************************************************/
/*                                  MOBILE STYLES                                 */
/**********************************************************************************/
#profile {
    text-align: center;
}

.profile_info_div {
    margin-bottom: 25px;
}

.profile_title {
    font-size: 20px;
    font-weight: bold;
}

.profile_description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
    text-align: justify;
}

.profile_button {
    background-color: var(--elements-backgroud-color);
    color: var(--text-color-inverse);
    transition-duration: 0.4s;
    border: 3px solid var(--elements-backgroud-color);
    font-size: 18px;
    padding: 0.5em 0.8em;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px var(--dark-theme-color);
}

.profile_button:hover {
    filter: brightness(150%);
    color: var(--text-color-inverse);
}

.profile_photo_div {
    text-align: center;
}

.profile_photo {
    max-width: 300px;
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--dark-theme-color);
    padding: 5px;
    background-color: var(--elements-backgroud-color);
}



/**********************************************************************************/
/*                                NO MOBILE STYLES                                */
/**********************************************************************************/
@media screen and (min-width: 640px) {

    #profile {
        display: flex;
        text-align: left;
        justify-content: space-between;
    }

    .profile_info_div {
        margin-bottom: 0;
    }

    .profile_title {
        font-size: 24px;
        font-weight: bold;
    }

    .profile_description {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        max-width: 640px;
        margin: 20px auto;
    }

    .profile_photo_div {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile_photo {
        margin: 20px auto;
    }
}