/**********************************************************************************/
/*                                  GENERAL STYLES                                */
/**********************************************************************************/

:root {
    --theme-color: whitesmoke;
    --text-color: black;
    --text-color-inverse: var(--theme-color);
    --dark-theme-color: #333333;
    --navbar-theme-color: var(--dark-theme-color);
    --navbar-shadow-color: #8a8a8a;
    --navbar-hover-color: blueviolet;
    --elements-backgroud-color: var(--navbar-hover-color);
    --margin: 2%;
    --min-width: 260px;
    --max-width: 1024px;
    --mobile-menu-theme-color: #3a4460;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../fonts/Lato/Lato-Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../fonts/Lato/Lato-Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../fonts/Lato/Lato-Regular.ttf') format('svg');               /* Legacy iOS */
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    margin: 0% auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

main {
    margin-top: 102px; /*Header height + Navbar height = (60px + 42px)*/
    padding-top: 3px;
}

article {
    margin: 0 var(--margin);
    top: 0;
    left: 0;
}

section[id] {
    padding-top: 5px;
    scroll-margin-top: 105px; /* avoid 'Header' hide the 'Section' */
    text-align: justify;
}
