/**********************************************************************************/
/*                                  GENERAL STYLES                                */
/**********************************************************************************/

:root {
    /* Coolors Exported Palette - https://coolors.co/d36135-7fb069-ece4b7-e6aa68-02020b */
    /* CSS HEX */
    --flame: #d36135ff;
    --asparagus: #7fb069ff;
    --vanilla: #ece4b7ff;
    --fawn: #e6aa68ff;
    --black: #02020bff;
    /* CSS COLORS USED */
    --theme-color: var(--vanilla);
    --middle-theme-color: #8a8a8a;
    --dark-theme-color: var(--black);
    --secondary-theme-color: rgb(220, 210, 240);
    --text-color: var(--black);
    --elements-backgroud-color: var(--flame);
    --bg-opacity: 1;
    --text-color-inverse: var(--theme-color);
    --navbar-theme-color: var(--dark-theme-color);
    --navbar-shadow-color: var(--middle-theme-color);
    --navbar-hover-color: var(--elements-backgroud-color);
    --margin: 2%;
    --min-width: 260px;
    --max-width: 1024px;
    --mobile-menu-theme-color: #3a4460;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../fonts/Lato/Lato-Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../fonts/Lato/Lato-Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../fonts/Lato/Lato-Regular.ttf') format('svg');               /* Legacy iOS */
}

body {
    font-family: Helvetica, 'Lato', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    margin: 0% auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

main {
    margin-top: 92px; /*Header height + Navbar height = (50px + 42px)*/
    padding-top: 3px;
}

article {
    margin: 0 var(--margin);
    top: 0;
    left: 0;
}

section[id] {
    font-size: 16px;
    padding-top: 5px;
    scroll-margin-top: 105px; /* avoid 'Header' hide the 'Section' */
    text-align: justify;
    background-color: var(--theme-color);
}
