/**********************************************************************************/
/*                                NO MOBILE STYLES                                */
/**********************************************************************************/

/* NO MOBILE STYLES : Top Header */
.topheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}

/* NO MOBILE STYLES : Top DIV */
.topdiv {
    display: flex;
    min-width: calc(45px + var(--min-width));
    background-color: white;
    border-bottom: 1px solid var(--navbar-theme-color);
    box-shadow: 0px 4px 5px var(--navbar-shadow-color);
    max-height: 50px;
}

/* NO MOBILE STYLES : DIV which contains the H1 element */
.h1div {
    top: 0;
    left: 0;
    margin: 0 auto 0 var(--margin);
}

/* NO MOBILE STYLES :  */
.h1div h1 {
    margin: 0; /* reset margin */
    line-height: 50px;
}

/* NO MOBILE STYLES : Navigation bar */
.topnavbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-theme-color);
    top: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0px 4px 5px var(--navbar-shadow-color);
    max-width: 100%;
}

/* NO MOBILE STYLES : Menu */
.menu {
    display: flex;  /* horizontal align of internal items */
    justify-content: flex-end;  /* pull the items to the right */
    list-style: none; /* removes the bullets */
    margin: 0 auto;  /* reset margin */
    padding: 0; /* reset padding */
    text-align: center;
    align-items: center;
    width: var(--max-width);
}

/* NO MOBILE STYLES :  */
.menu li {
    padding: 0;
}

/* NO MOBILE STYLES : */
.menu li a {
    color: var(--text-color-inverse);
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    display: block;
}

/* NO MOBILE STYLES : */
.menu li:hover {
    background-color: var(--navbar-hover-color);
}



/**********************************************************************************/
/*                                  MOBILE STYLES                                 */
/**********************************************************************************/

/* Responsive initial screen*/
@media screen and (max-width: 640px) {
    
    /* MOBILE STYLES : Open / Close button */
    .h1div {
        vertical-align: middle;
        margin-left: var(--margin);
    }

    /* MOBILE STYLES : */
    .openclosediv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--margin);
    }

    /* MOBILE STYLES : */
    .openclosebuttondiv {
        cursor: pointer;
        vertical-align: middle;
        border: 2px;
        border-style: none;
        border-radius: 5px;
        padding: 1px 4.5px;
        width: 35px;
    }
    
    /* MOBILE STYLES : */
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: #333333;
        margin: 6px auto;
        transition: 0.4s;
    }
    
    /* MOBILE STYLES : */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    /* MOBILE STYLES : */
    .change .bar2 {
        opacity: 0;
    }
    
    /* MOBILE STYLES : */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* MOBILE STYLES : Navigation bar */
    .topnavbar {
        display: none;
        height: 2px;
        z-index: 10;
    }

    /* MOBILE STYLES : Menu */
    .menu {
        visibility: hidden;
        flex-direction: column;
        text-align: center;
        height: calc(6 * 40px); /* 40px height plus each item (six) */
        z-index: 10;
        width: 175px;
        background-color: var(--navbar-theme-color);
        margin-right: 0;
    }
    
    /* MOBILE STYLES : */
    .menu li {
        width: 100%;
    }
    
    /* MOBILE STYLES : */
    .menu li a {
        font-size: 14px;
        line-height: 40px;
        text-align: left;
    }

    /* MOBILE STYLES : */
    main {
        margin-top: 52px;
        padding-top: 3px;
    }
}


/* Responsive topnavbar and menu */
@media screen and (max-width: 640px) {
    
    /* MOBILE STYLES : */
    .topnavbar.responsive {
        display: flex;
        height: calc(6 * 40px);
        background-color: transparent;
        box-shadow: 0px 0px 0px var(--navbar-shadow-color);
    }

    /* MOBILE STYLES : */
    .topnavbar.responsive .menu {
        visibility: visible;
        z-index: 10;
    }

    /* MOBILE STYLES : */
    .topnavbar, section[id] {
        scroll-margin-top: 55px; /* avoid 'Header' hide the 'Section' */
    }

    /* MOBILE STYLES : */
    .menu {
        box-shadow: 0px 4px 5px var(--navbar-shadow-color);
    }
}